/* Empty. Add your own CSS if you like */
.tabs-striped .tabs{
    top:38px !important;
    overflow: visible;
    /*background: #607d8b;*/
    color: #fefefe;
    /*border-bottom: 0;*/
    /*background: #CDDC39;color: #fefefe;*/
    /*border-top-color: transparent;*/
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.tabs-striped .tabs .indicator{
    position: absolute;bottom:0px;left: 0;
    content: " ";
    width: 1px;
    height:2px;
    background-color: #fefefe;
}

.indicator.sliding{
 -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.list .item{
  border: 0;
}

.tab-item{
  font-size: 17px;
}
.tab-item.active{
    margin-top: 0 !important;;
    border-width: 0 !important;;
    border-style: none !important;;
}
.tab-item.activated{
    margin-top: 0 !important;;
    border-width: 0 !important;;
    border-style: none !important;;
}
.bar{
    box-shadow:none;
}
.menu-open .ion-android-menu{
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-android-menu:before {
    content: "\f2ca";
}

.popover{
    width:180px;
    height: auto !important;
}
.popover .item:not(:last-child){
  border-bottom:1px solid #f2f2f2;
}

.bar .title{
  position: relative;
  /*left:1px !important;*/
  top: -5px;
  font-size: 22px !important;
}

.bar .button {
    top: -3px;
    min-height: 38px;
    min-width: 40px;
    max-width: 54px;
    margin-bottom: 0;
    max-height: 40px;
}

.bar .back-button {
    min-height: 38px;
    min-width: 40px;
    max-width: 54px;
}
.rotated{
    transform: rotate(-90deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

p {
    color: #555;
    margin: 0 0 25px;
}
.scroll {
    height: 100%;
}
.slider{
    height: 100%;
}
.slide{
    height: 100%;
    width: 100%;
}
.item.subject{
  padding-left: 80px;min-height: 72px;
}
.item.subject:first-child{
  margin-top: -20px;
}
.item.subject h2{
  font-size: 1.2rem;font-weight:300;
}
.item.subject h3{
  font-size: 1.1rem;
}
.item.subject p{
  font-size: 1rem;
}
.icon.avatarish{
  background:#eee;
  border-radius: 50%;display:block;
  text-transform:uppercase;text-align: center;font-size:25px;
  left:0;top:20px;width:72px;height:72px;line-height:72px;
}
.icon.avatarish.icon-balanced{
  background:#33cd5f;
  color: #fefefe;
}
.icon.avatarish.icon-positive{
  background:#387ef5;
  color: #eee;
}
.icon.avatarish.icon-assertive{
  background:#ef473a;
  color: #eee;
}
.fade-in {
  -webkit-transform: scale(0.0);
  transform: scale(0.0);
  opacity: 0;
}
.fade-in.ng-enter, .fade-in > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 250ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 250ms;
}
.fade-in.ng-enter-active,
.fade-in > .ng-enter-active {
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
  opacity: 1;
}
.fade-in.ng-leave, .fade-in > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}