<ion-header-bar class="bar-calm has-tabs-top bar bar-header disable-user-behavior" align-title="left"><button clas="no-text" ng-click="$ionicGoBack()" class="button back-button hide buttons  button-clear header-item"><i class="icon ion-android-arrow-back"></i> 
  <span class="back-text"></span></button>
  <div class="title title-left header-item" style="right: 100px;">Schedule</div>
  <div class="buttons buttons-right"><span class="right-buttons">
    <!-- <button class="button button-icon button-clear icon ion-android-search" ng-click="search()">
        </button> -->
    <!-- <button class="button button-icon button-clear icon ion-android-calendar">
    </button> -->
    <button class="button button-icon button-clear icon ion-android-more-vertical" ng-click="mainPopover.show($event)">
    </button>
  </span></div></ion-header-bar>
<ion-view titl="Schedule">
  <ion-content scroll="false" style="margin-top:-8px;">
    <tab-slide-box>
      <div class="tsb-icons" ng-hide="searching">
        <div class="tsb-ic-wrp">
          <ion-scroll direction="x" class="tsb-hscroll">
            <a ripple href="javascript:;" >MONDAY</a>
            <a ripple href="javascript:;" >TUESDAY</a>
            <a ripple href="javascript:;" >WEDNESDAY</a>
            <a ripple href="javascript:;" >THURSDAY</a>
            <a ripple href="javascript:;" >FRIDAY</a>
            <a ripple href="javascript:;" >SATURDAY</a>
            <a ripple href="javascript:;" >SUNDAY</a>
          </ion-scroll>
        </div>
      </div>
      <ion-slide-box class="schedule" show-pager="false" on-slide-changed="slideHasChanged($index)" ng-hide="searching">
        <ion-slide class="slide" ng-i="day.sessions.length > 0" ng-repeat="day in schedule">
          <ion-content>
              <div class="list" style="padding-bottom:60px">
                  <div class="item" ng-if="day.sessions.length < 1">
                    <div class="list">
                        <div class="item">
                            <h2 style="font-weight:300">No sessions on this day.</h2>
                        </div>
                    </div>
                  </div>
                  <div class="item" ng-repeat="session in day.sessions | filter : {invalid : false}">
                      <div class="list">
                          <div class="item has-borde first-{{$first}} last-{{$last}} item-icon-left subject" style="text-align: left;" ng-click="previewSession(session)">
                              <i class="icon" ng-class="{'ion-android-people' : session.type === 'tutorial', 'ion-android-person' : session.type === 'self', 'ion-ios-people' : session.type === 'lecture'}" style="color:#555">
                                  <!-- {{session.type.substr(0, 1)}} -->
                              </i>
                              <h2>{{session.timeline.timeline}}
                                <span class="item-note" ng-show="session.venue !== null">
                                  <i class="ion-android-pin"></i>
                                </span>
                              </h2>
                              <h3>
                                {{session.subject.subject}}
                                <span class="item-note">
                                  {{session.venue}}
                                </span>
                              </h3>
                              <p>{{subject.tutor}}</p>
                          </div>
                      </div>
                  </div>
              </div>
          </ion-content>
      </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>