<ion-header-bar class="bar-calm bar bar-header bar-main disable-user-behavior" align-title="left">
  <button clas="no-text" ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item" style="top:5px">
    <i class="icon ion-android-arrow-back"></i> 
    <span class="back-text"></span>
  </button>
  <div class="title title-left header-item">Settings</div>
</ion-header-bar>
<ion-view>
    <ion-content class="padding" style="top:60px">
        <div class="list md-list" ng-clic="previewSubject(subject)">
            <div class="item has-border-bottom">
                <h2>Stream</h2>
                <h3>A</h3>
            </div>
            <ion-toggle class="item toggle-small item-toggle-positive has-border-bottom" style="font-size:1.2rem" ng-model="settings.allGroups" ng-change="updateSettings()">
                Show tutorials for all groups
                <p>&nbsp;</p>
            </ion-toggle>
            <div class="item has-border-bottom" ng-class="{'inactive' : settings.allGroups}" ng-click="settings.allGroups ? '' : chooseGroup()">
                <h2>Group</h2>
                <h3>{{currentGroup}}</h3>
            </div>
        </div>
    </ion-content>
</ion-view>