<ion-view title="Settings">
  <ion-content styl="top:200px">
    <ion-list>
        <div style="border-color: #E4E4E4;color:#9E9E9E" class="item item-divider">Schedule Settings</div>
        <!-- <label class="item item-icon-left item-input" style="padding-left:40px;">
          <i class="icon ion-ios-people"></i> &emsp;(stream)
          <label class="input-label" style="width:auto"></label>
          <input type="text" placeholder="" ng-model="settings.stream" style="border-bottom:1px solid #999;margin-left:25px;margin-right:5px;" ng-change="updateSettings()">
        </label> -->
        <ion-toggle class="toggle-small" ng-model="settings.allGroups" ng-change="updateSettings()">
            Show tutorials for all groups
        </ion-toggle>
        <label ng-hide="settings.allGroups" class="item item-icon-left item-input" style="padding-left:40px;">
          <i class="icon ion-android-people"></i> &emsp;(group)
          <input type="text" placeholder="" ng-model="settings.group" style="border-bottom:1px solid #999;margin-left:25px;margin-right:5px;" ng-change="updateSettings()">
        </label>
    </ion-list>
  </ion-content>
</ion-view>
