<ion-modal-view>
  <ion-header-bar styl="height:200px" ng-class="'bar-'+subject.theme">
    <div class="buttons buttons-left">
      <span class="left-buttons">
        <button class="button button-clear icon ion-android-close" ng-click="closeSubject()"></button>
      </span>
    </div>
    <h1 class="title" styl="top:150px;font-size:30px">
      {{subject.name}}
    </h1>
  </ion-header-bar>
  <ion-content styl="top:200px">
    <div class="list" style="margin:0">
      <div class="item item-icon-left">
          <i class="icon ion-ios-person-outline"></i>
          {{subject.tutor}}
      </div>
      <div class="item item-icon-left" ng-if="session.type!=='self'">
          <i class="icon ion-ios-people-outline"></i>
          <h2>IT & CS</h2>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
