<ion-view title="{{subject.name}}">
    <ion-content>
        <ion-list>
        	<ion-item class="item-divider item-button-right">
               Details
               <button class="button button-icon button-clear ico ion-edit" style="margin-top:-8px"></button>
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-ios-compose-outline"></i>
                {{subject.code}}
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-ios-person-outline"></i>
                {{subject.tutor || 'Rameesh Gupta'}}
            </ion-item>
            <ion-item class="item-divider item-button-right">
               Schedule
               <button class="button button-icon button-clear icon ion-forward" style="margin-top:-11px"></button>
            </ion-item>
            <ion-item ng-repeat="session in subject.schedule">
                {{session}}
            </ion-item>
            <ion-item class="item-divider item-button-right">
               Notes
               <button class="button button-icon button-clear icon ion-android-add" style="margin-top:-11px"></button>
            </ion-item>
            <ion-item>
               Assignment to be collected on Nov 20
            </ion-item>
            <ion-item>
               Upcoming test on Jan 1
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
