<ion-view title="Subjects">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear icon ion-android-search" ng-click="search()">
        </button>
        <button class="button button-icon button-clear icon ion-android-more-vertical" ng-click="mainPopover.show($event)">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <!-- <div class="list"> -->
            <div class="list card item-balanced" ng-repeat="subject in subjects" ng-click="previewSubject(subject)">
            	<div class="item">
            		<h2>{{subject.name}}</h2>
	                <p>{{subject.code}}</p>
            	</div>
            </div>
        <!-- </div> -->
    </ion-content>
</ion-view>
